body {
    margin-top: 30%;
    margin: 155px;
}

.eins {
    width: 30%;
    margin: auto;
    min-height: 250px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;

}

.zwei {
    background-color: yellow;
    height: 20px;
    border-radius: 9px;
    width: 355px;
}

.acht {
    height: 22px;
    width: 40%;
    margin: auto;
    border-radius: 70px;
    background-color: #9953f1 ;
}

.vier {
    margin-left: 100px;
    margin-bottom: 20px;
}

.funf {
    margin-left: 100px;
    margin-bottom: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}



h2 {
    font-size: 30px;
    margin: 50px;
}

.sechs {
    margin-left: 95px;
}
.neun{
    background-color: #9953f1 ;
    border-radius: 70px;
    
}